body	{margin:0px; background-image:url(Backdrop.gif); background-repeat:repeat-y}

table#MasterTable td, th					{font-family:arial; font-size:10pt; vertical-align:top}
table#MasterTable td#HeaderCell		{background-color:#0A0AB4; color:white; padding:5px; font-size:32pt; font-weight:bold}
table#MasterTable td#CounterCell		{text-align:right; background-color:#E0E0E0}
table#MasterTable td#MenuCell			{width:150px; padding:5px}
table#MasterTable td#ContentCell	{width:100%; padding:10px}
